# Base de datos PostgreSQL
DATABASE_URL=postgresql://postgres:Dannie2026$@localhost:5432/cosecha_app
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cosecha_app
DB_USER=postgres
DB_PASSWORD=Dannie2026$

# JWT
JWT_SECRET=tu_clave_secreta_muy_segura_cambiar_en_produccion
JWT_EXPIRES_IN=7d

# Servidor
PORT=3000
NODE_ENV=development

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:5173
